.about{
    background-color: rgb(217, 235, 235);
    min-height: 1080px;
    display: flex;
    justify-content: space-around;

    .title{
        font-size: 42px;
        margin: 160px auto;
    }

    a{
        margin: 40px 40px;
        font-size: 24px;
        font-weight: bold;

    }
}