* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: teal;
}

.App {
  padding: 15px;
  background-color: rgba(213, 231, 231, 0.509);
  min-height: 1080px;
}

h1{
  text-align: center;
}

  form {
    display: flex;
    flex-direction: column;
  }

    .remove-btn {
      margin-right: 0.5rem;
    }
  
    .post-enter {
      transform: translateX(-350px);
    }
  
    .post-enter-active {
      transform: translateX(0px) ;
      transition: all 500ms ease-in;
    }
  
    .post-exit {
      opacity: 1;
    }
  
    .post-exit-active {
      transform: translateX(-350px);
      transition: all 500ms ease-in;
    }

.link-about{
  margin-left: 1374px;
  font-size: 24px;
  font-weight: bold;
}


